body {
  border-right-style: solid;
  border-right-width: 0px;
  margin-right: 50px;
  padding-right: 10px;
  margin-left: 50px;
  border-top-style: solid;
  border-top-width: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.img img {
  border-radius: 8%;
}

.title1 {
  color: hsl(332, 51%, 32%);
}
.dv1 {
  background-color: hsl(330, 100%, 98%);
}

.title2,
.title3 {
  color: hsl(14, 45%, 36%);
}
.oltitle3 ::marker {
  color: hsl(14, 45%, 36%);
}
.title4,
.nmbone,
.Calories,
.Carbs,
.Protein,
.Fat {
  color: hsl(14, 45%, 36%);
}

.test {
  color: red;
}
