body {
  margin: 50px;
}

img {
  border-radius: 30px;
  width: 100%;
}

.title1 {
  color: hsl(332, 51%, 32%);
}
.dv1 {
  background-color: hsl(330, 100%, 98%);
}

.title2,
.title3 {
  color: hsl(14, 45%, 36%);
}
.oltitle3 ::marker {
  color: hsl(14, 45%, 36%);
}
.title4,
.nmbone,
.Calories,
.Carbs,
.Protein,
.Fat {
  color: hsl(14, 45%, 36%);
}

.test {
  color: red;
}
